# FIFA Dataset Data Cleaning and Transformation

# Import all libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read data from CSV File

In [2]:
Football = pd.read_csv("fifa21_raw_data.csv", low_memory = False)

In [3]:
Fifa_df = pd.DataFrame(Football)
Fifa_df.head(5)

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [4]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

# Data Cleaning and Manipulation

In [5]:
#remove unnecessary column
Fifa_df = Fifa_df.drop(["photoUrl","playerUrl"], axis = 1)

In [6]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LongName          18979 non-null  object
 1   Nationality       18979 non-null  object
 2   Positions         18979 non-null  object
 3   Name              18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Team & Contract   18979 non-null  object
 8   ID                18979 non-null  int64
 9   Height            18979 non-null  object
 10  Weight            18979 non-null  object
 11  foot              18979 non-null  object
 12  BOV               18979 non-null  int64
 13  BP                18979 non-null  object
 14  Growth            18979 non-null  int64
 15  Joined            18979 non-null  object
 16  Loan Date End     1013 non-null   object
 17  Value             18979 non-null  object
 18  Wage              18979 non-null  object
 19  Release Clause    18979 non-null  object
 20  Attacking         18979 non-null  int64
 21  Crossing          18979 non-null  int64
 22  Finishing         18979 non-null  int64
 23  Heading Accuracy  18979 non-null  int64
 24  Short Passing     18979 non-null  int64
 25  Volleys           18979 non-null  int64
 26  Skill             18979 non-null  int64
 27  Dribbling         18979 non-null  int64
 28  Curve             18979 non-null  int64
 29  FK Accuracy       18979 non-null  int64
 30  Long Passing      18979 non-null  int64
 31  Ball Control      18979 non-null  int64
 32  Movement          18979 non-null  int64
 33  Acceleration      18979 non-null  int64
 34  Sprint Speed      18979 non-null  int64
 35  Agility           18979 non-null  int64
 36  Reactions         18979 non-null  int64
 37  Balance           18979 non-null  int64
 38  Power             18979 non-null  int64
 39  Shot Power        18979 non-null  int64
 40  Jumping           18979 non-null  int64
 41  Stamina           18979 non-null  int64
 42  Strength          18979 non-null  int64
 43  Long Shots        18979 non-null  int64
 44  Mentality         18979 non-null  int64
 45  Aggression        18979 non-null  int64
 46  Interceptions     18979 non-null  int64
 47  Positioning       18979 non-null  int64
 48  Vision            18979 non-null  int64
 49  Penalties         18979 non-null  int64
 50  Composure         18979 non-null  int64
 51  Defending         18979 non-null  int64
 52  Marking           18979 non-null  int64
 53  Standing Tackle   18979 non-null  int64
 54  Sliding Tackle    18979 non-null  int64
 55  Goalkeeping       18979 non-null  int64
 56  GK Diving         18979 non-null  int64
 57  GK Handling       18979 non-null  int64
 58  GK Kicking        18979 non-null  int64
 59  GK Positioning    18979 non-null  int64
 60  GK Reflexes       18979 non-null  int64
 61  Total Stats       18979 non-null  int64
 62  Base Stats        18979 non-null  int64
 63  W/F               18979 non-null  object
 64  SM                18979 non-null  object
 65  A/W               18979 non-null  object
 66  D/W               18979 non-null  object
 67  IR                18979 non-null  object
 68  PAC               18979 non-null  int64
 69  SHO               18979 non-null  int64
 70  PAS               18979 non-null  int64
 71  DRI               18979 non-null  int64
 72  DEF               18979 non-null  int64
 73  PHY               18979 non-null  int64
 74  Hits              18979 non-null  object
dtypes: int64(55), object(20)
memory usage: 10.9+ MB

In [7]:
Fifa_df.head()

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,158023,"5'7""",...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,20801,"6'2""",...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,200389,"6'2""",...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,Kevin De Bruyne,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,192985,"5'11""",...,High,High,4 ★,76,86,93,88,64,78,\n163
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,190871,"5'9""",...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [8]:
Fifa_df["LongName"].nunique()

18851

In [9]:
#check duplicate rows
duplicate_rows = Fifa_df[Fifa_df.duplicated(subset=["LongName", "Name"])]
duplicate_rows

,LongName,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,ID,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
944,Kevin Berlaso,Ecuador,RB,K. Berlaso,32,77,77,\n Ecuador\nFree\n\n,251698,"5'8""",...,High,Medium,2 ★,78,56,69,77,72,68,\n12
1187,Lisandro López,Argentina,CB,L. López,30,76,76,\n\n\n\nBoca Juniors\n2020 ~ 2023\n\n,215051,"6'2""",...,Medium,High,3 ★,62,51,50,61,77,74,\n7
2516,Gonzalo Castro,Germany,CM LB,G. Castro,33,73,73,\n\n\n\nVfB Stuttgart\n2018 ~ 2021\n\n,167431,"5'8""",...,Medium,Medium,2 ★,55,67,75,74,67,63,\n15
2562,Ben Davies,England,CB,B. Davies,24,73,79,\n\n\n\nPreston North End\n2013 ~ 2021\n\n,213017,"6'1""",...,Medium,Medium,1 ★,74,39,58,63,75,75,\n38
2955,Claudio Bravo,Argentina,LB,C. Bravo,23,73,82,\n\n\n\nClub Atlético Banfield\n2016 ~ 2021\n\n,232646,"5'7""",...,Medium,Medium,1 ★,74,50,64,73,71,65,\n40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18703,Yuan Zhang,China PR,CM,Zhang Yuan,23,51,56,\n\n\n\nShenzhen FC\n2020 ~ 2023\n\n,241341,"6'0""",...,Medium,Medium,1 ★,73,45,48,56,50,59,\n2
18741,Alfie Jones,England,GK,A. Jones,19,50,66,\n\n\n\nCrawley Town\n2019 ~ 2021\n\n,243202,"6'1""",...,Medium,Medium,1 ★,56,48,45,52,22,44,\n3
18813,Joe Wright,England,GK,J. Wright,19,50,64,\n\n\n\nMillwall\n2019 ~ 2024\n\n,251563,"6'1""",...,Medium,Medium,1 ★,53,54,47,48,18,46,\n1
18834,Mark Byrne,Republic of Ireland,CAM LW RW,M. Byrne,19,50,65,\n\n\n\nSligo Rovers\n2020 ~ 2020\n\n,255948,"5'10""",...,High,Medium,1 ★,60,36,53,50,37,50,\n1
18909,Wei Zhang,China PR,RM RW,Zhang Wei,20,49,57,\n\n\n\nHebei China Fortune FC\n2019 ~ 2024\n\n,252332,"6'1""",...,Medium,Medium,1 ★,57,38,47,48,48,51,\n1

In [10]:
#remove duplicate rows
Fifa_df = Fifa_df[~Fifa_df.duplicated(subset=["LongName","Name"])]

In [11]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LongName          18852 non-null  object
 1   Nationality       18852 non-null  object
 2   Positions         18852 non-null  object
 3   Name              18852 non-null  object
 4   Age               18852 non-null  int64
 5   ↓OVA              18852 non-null  int64
 6   POT               18852 non-null  int64
 7   Team & Contract   18852 non-null  object
 8   ID                18852 non-null  int64
 9   Height            18852 non-null  object
 10  Weight            18852 non-null  object
 11  foot              18852 non-null  object
 12  BOV               18852 non-null  int64
 13  BP                18852 non-null  object
 14  Growth            18852 non-null  int64
 15  Joined            18852 non-null  object
 16  Loan Date End     1003 non-null   object
 17  Value             18852 non-null  object
 18  Wage              18852 non-null  object
 19  Release Clause    18852 non-null  object
 20  Attacking         18852 non-null  int64
 21  Crossing          18852 non-null  int64
 22  Finishing         18852 non-null  int64
 23  Heading Accuracy  18852 non-null  int64
 24  Short Passing     18852 non-null  int64
 25  Volleys           18852 non-null  int64
 26  Skill             18852 non-null  int64
 27  Dribbling         18852 non-null  int64
 28  Curve             18852 non-null  int64
 29  FK Accuracy       18852 non-null  int64
 30  Long Passing      18852 non-null  int64
 31  Ball Control      18852 non-null  int64
 32  Movement          18852 non-null  int64
 33  Acceleration      18852 non-null  int64
 34  Sprint Speed      18852 non-null  int64
 35  Agility           18852 non-null  int64
 36  Reactions         18852 non-null  int64
 37  Balance           18852 non-null  int64
 38  Power             18852 non-null  int64
 39  Shot Power        18852 non-null  int64
 40  Jumping           18852 non-null  int64
 41  Stamina           18852 non-null  int64
 42  Strength          18852 non-null  int64
 43  Long Shots        18852 non-null  int64
 44  Mentality         18852 non-null  int64
 45  Aggression        18852 non-null  int64
 46  Interceptions     18852 non-null  int64
 47  Positioning       18852 non-null  int64
 48  Vision            18852 non-null  int64
 49  Penalties         18852 non-null  int64
 50  Composure         18852 non-null  int64
 51  Defending         18852 non-null  int64
 52  Marking           18852 non-null  int64
 53  Standing Tackle   18852 non-null  int64
 54  Sliding Tackle    18852 non-null  int64
 55  Goalkeeping       18852 non-null  int64
 56  GK Diving         18852 non-null  int64
 57  GK Handling       18852 non-null  int64
 58  GK Kicking        18852 non-null  int64
 59  GK Positioning    18852 non-null  int64
 60  GK Reflexes       18852 non-null  int64
 61  Total Stats       18852 non-null  int64
 62  Base Stats        18852 non-null  int64
 63  W/F               18852 non-null  object
 64  SM                18852 non-null  object
 65  A/W               18852 non-null  object
 66  D/W               18852 non-null  object
 67  IR                18852 non-null  object
 68  PAC               18852 non-null  int64
 69  SHO               18852 non-null  int64
 70  PAS               18852 non-null  int64
 71  DRI               18852 non-null  int64
 72  DEF               18852 non-null  int64
 73  PHY               18852 non-null  int64
 74  Hits              18852 non-null  object
dtypes: int64(55), object(20)
memory usage: 10.9+ MB

In [12]:
Fifa_df["Positions"].head(60)

0      RW ST CF
1         ST LW
2            GK
3        CAM CM
4        LW CAM
5            ST
6      ST LW RW
7            GK
8            RW
9            LW
10           CB
11           GK
12          CDM
13           GK
14           GK
15        CF ST
16           CB
17           ST
18       CDM CM
19       CDM RB
20       CF CAM
21           GK
22        LW RW
23           ST
24           CB
25        LW ST
26           CM
27           GK
28    RM LM CAM
29           RB
30    RW CAM CM
31           LB
32           CB
33       CAM CM
34          CDM
35           CF
36        LM CF
37     ST CF LW
38           GK
39           ST
40       CDM CM
41        ST LW
42           GK
43        RW LW
44           CM
45           ST
46           GK
47           CB
48           ST
49           RB
50           CB
51       CM CDM
52       CM CDM
53           GK
54    CAM RM RW
55           LB
56       CDM CM
57           CB
58           GK
59       CAM CM
Name: Positions, dtype: object

In [13]:
#split position using split function
position_tokens = Fifa_df["Positions"].str.split()
position_tokens

0        [RW, ST, CF]
1            [ST, LW]
2                [GK]
3           [CAM, CM]
4           [LW, CAM]
             ...
18974            [CB]
18975            [ST]
18976            [CB]
18977            [CM]
18978           [CDM]
Name: Positions, Length: 18852, dtype: object

In [14]:
#make empty set to store unique positions
positions = set()
#update each unique positions in set
for position in position_tokens:
    positions.update(position)
positions

{'CAM',
 'CB',
 'CDM',
 'CF',
 'CM',
 'GK',
 'LB',
 'LM',
 'LW',
 'LWB',
 'RB',
 'RM',
 'RW',
 'RWB',
 'ST'}

In [15]:
# Make new dataframe to store encoded values
encoded = pd.DataFrame()

In [16]:
#one hot encoded
for token in positions:
    encoded[token] = Fifa_df["Positions"].str.contains(token, regex = False).astype(int)
encoded[token]

0        1
1        0
2        0
3        0
4        0
        ..
18974    0
18975    0
18976    0
18977    0
18978    0
Name: RW, Length: 18852, dtype: int32

In [17]:
encoded

       CM  ST  RB  GK  CB  RWB  LB  RM  LM  LW  CDM  CAM  LWB  CF  RW
0       0   1   0   0   0    0   0   0   0   0    0    0    0   1   1
1       0   1   0   0   0    0   0   0   0   1    0    0    0   0   0
2       0   0   0   1   0    0   0   0   0   0    0    0    0   0   0
3       1   0   0   0   0    0   0   0   0   0    0    1    0   0   0
4       0   0   0   0   0    0   0   0   0   1    0    1    0   0   0
...    ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ...  ...  ...  ..  ..
18974   0   0   0   0   1    0   0   0   0   0    0    0    0   0   0
18975   0   1   0   0   0    0   0   0   0   0    0    0    0   0   0
18976   0   0   0   0   1    0   0   0   0   0    0    0    0   0   0
18977   1   0   0   0   0    0   0   0   0   0    0    0    0   0   0
18978   0   0   0   0   0    0   0   0   0   0    1    0    0   0   0

[18852 rows x 15 columns]

In [18]:
#Rename column names
Fifa_df = Fifa_df.rename(columns = {"↓OVA":"Overall Rating", 
                                    "POT": "Potential",
                                    "BOV": "Best Overall",
                                    "BP": "Best Position",
                                    "W/F": "Weak Foot",
                                    "SM": "Skill Moves",
                                    "A/W": "Attacking Work Rate",
                                    "D/W": "Defensive Work Rate",
                                    "IR": "International Reputation",
                                    "PAC": "Pace",
                                    "SHO": "Shooting",
                                    "PAS": "Passing",
                                    "DRI": "Dribbling",
                                    "DEF": "Defense",
                                    "PHY": "Physicality" 
                        })

In [19]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   Team & Contract           18852 non-null  object
 8   ID                        18852 non-null  int64
 9   Height                    18852 non-null  object
 10  Weight                    18852 non-null  object
 11  foot                      18852 non-null  object
 12  Best Overall              18852 non-null  int64
 13  Best Position             18852 non-null  object
 14  Growth                    18852 non-null  int64
 15  Joined                    18852 non-null  object
 16  Loan Date End             1003 non-null   object
 17  Value                     18852 non-null  object
 18  Wage                      18852 non-null  object
 19  Release Clause            18852 non-null  object
 20  Attacking                 18852 non-null  int64
 21  Crossing                  18852 non-null  int64
 22  Finishing                 18852 non-null  int64
 23  Heading Accuracy          18852 non-null  int64
 24  Short Passing             18852 non-null  int64
 25  Volleys                   18852 non-null  int64
 26  Skill                     18852 non-null  int64
 27  Dribbling                 18852 non-null  int64
 28  Curve                     18852 non-null  int64
 29  FK Accuracy               18852 non-null  int64
 30  Long Passing              18852 non-null  int64
 31  Ball Control              18852 non-null  int64
 32  Movement                  18852 non-null  int64
 33  Acceleration              18852 non-null  int64
 34  Sprint Speed              18852 non-null  int64
 35  Agility                   18852 non-null  int64
 36  Reactions                 18852 non-null  int64
 37  Balance                   18852 non-null  int64
 38  Power                     18852 non-null  int64
 39  Shot Power                18852 non-null  int64
 40  Jumping                   18852 non-null  int64
 41  Stamina                   18852 non-null  int64
 42  Strength                  18852 non-null  int64
 43  Long Shots                18852 non-null  int64
 44  Mentality                 18852 non-null  int64
 45  Aggression                18852 non-null  int64
 46  Interceptions             18852 non-null  int64
 47  Positioning               18852 non-null  int64
 48  Vision                    18852 non-null  int64
 49  Penalties                 18852 non-null  int64
 50  Composure                 18852 non-null  int64
 51  Defending                 18852 non-null  int64
 52  Marking                   18852 non-null  int64
 53  Standing Tackle           18852 non-null  int64
 54  Sliding Tackle            18852 non-null  int64
 55  Goalkeeping               18852 non-null  int64
 56  GK Diving                 18852 non-null  int64
 57  GK Handling               18852 non-null  int64
 58  GK Kicking                18852 non-null  int64
 59  GK Positioning            18852 non-null  int64
 60  GK Reflexes               18852 non-null  int64
 61  Total Stats               18852 non-null  int64
 62  Base Stats                18852 non-null  int64
 63  Weak Foot                 18852 non-null  object
 64  Skill Moves               18852 non-null  object
 65  Attacking Work Rate       18852 non-null  object
 66  Defensive Work Rate       18852 non-null  object
 67  International Reputation  18852 non-null  object
 68  Pace                      18852 non-null  int64
 69  Shooting                  18852 non-null  int64
 70  Passing                   18852 non-null  int64
 71  Dribbling                 18852 non-null  int64
 72  Defense                   18852 non-null  int64
 73  Physicality               18852 non-null  int64
 74  Hits                      18852 non-null  object
dtypes: int64(55), object(20)
memory usage: 10.9+ MB

In [20]:
Fifa_df[["Age", "Overall Rating", "Potential"]].describe()

                Age  Overall Rating     Potential
count  18852.000000    18852.000000  18852.000000
mean      25.199926       65.745916     71.157384
std        4.710073        6.967116      6.111418
min       16.000000       47.000000     47.000000
25%       21.000000       61.000000     67.000000
50%       25.000000       66.000000     71.000000
75%       29.000000       70.000000     75.000000
max       53.000000       93.000000     95.000000

In [21]:
Fifa_df["Team & Contract"]

0                    \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1                        \n\n\n\nJuventus\n2018 ~ 2022\n\n
2                 \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3                 \n\n\n\nManchester City\n2015 ~ 2023\n\n
4             \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
                               ...
18974    \n\n\n\nChongqing Dangdai Lifan FC SWM Team\n2...
18975             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18976                  \n\n\n\nWuhan Zall\n2018 ~ 2022\n\n
18977             \n\n\n\nOldham Athletic\n2020 ~ 2021\n\n
18978                \n\n\n\nClub Bolívar\n2020 ~ 2024\n\n
Name: Team & Contract, Length: 18852, dtype: object

here 3 columns are extracted 1. team 
                             2. start year
                             3. End year

In [22]:
# extract using regex
Fifa_df[["Team","Contract"]]=Fifa_df["Team & Contract"].str.extract(r'([\w\s]+)\n(\d+ ~ \d+)')
Fifa_df[["Team","Contract"]].head(15)

                         Team     Contract
0        \n\n\n\nFC Barcelona  2004 ~ 2021
1            \n\n\n\nJuventus  2018 ~ 2022
2     \n\n\n\nAtlético Madrid  2014 ~ 2023
3     \n\n\n\nManchester City  2015 ~ 2023
4                     Germain  2017 ~ 2022
5   \n\n\n\nFC Bayern München  2014 ~ 2023
6                     Germain  2018 ~ 2022
7           \n\n\n\nLiverpool  2018 ~ 2024
8           \n\n\n\nLiverpool  2017 ~ 2023
9           \n\n\n\nLiverpool  2016 ~ 2023
10          \n\n\n\nLiverpool  2018 ~ 2023
11       \n\n\n\nFC Barcelona  2014 ~ 2022
12        \n\n\n\nReal Madrid  2013 ~ 2023
13        \n\n\n\nReal Madrid  2018 ~ 2024
14  \n\n\n\nFC Bayern München  2011 ~ 2023

In [23]:
# Remove leading and trailing whitespace and newline characters
Fifa_df["Team"] =Fifa_df["Team"].str.strip()
Fifa_df["Contract"] = Fifa_df["Contract"].str.strip()

In [24]:
Fifa_df["Contract"]

0        2004 ~ 2021
1        2018 ~ 2022
2        2014 ~ 2023
3        2015 ~ 2023
4        2017 ~ 2022
            ...
18974    2020 ~ 2020
18975    2020 ~ 2021
18976    2018 ~ 2022
18977    2020 ~ 2021
18978    2020 ~ 2024
Name: Contract, Length: 18852, dtype: object

In [25]:
Fifa_df[['Start Year', 'End Year']] = Fifa_df["Contract"].str.split("~", expand = True)
Fifa_df[['Start Year', 'End Year']].head()

  Start Year End Year
0      2004      2021
1      2018      2022
2      2014      2023
3      2015      2023
4      2017      2022

In [26]:
# Remove leading and trailing whitespace and newline characters
Fifa_df["Start Year"] = Fifa_df["Start Year"].str.strip()
Fifa_df["End Year"] = Fifa_df["End Year"].str.strip()

In [27]:
#remove column
Fifa_df.drop(columns=["Team & Contract"], inplace=True)

In [28]:
# remove column
Fifa_df.drop(columns = ["Contract"], inplace = True)

In [29]:
Fifa_df.head()

,LongName,Nationality,Positions,Name,Age,Overall Rating,Potential,ID,Height,Weight,...,Pace,Shooting,Passing,Dribbling,Defense,Physicality,Hits,Team,Start Year,End Year
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,158023,"5'7""",159lbs,...,85,92,91,95,38,65,\n372,FC Barcelona,2004,2021
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,"6'2""",183lbs,...,89,93,81,89,35,77,\n344,Juventus,2018,2022
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,200389,"6'2""",192lbs,...,87,92,78,90,52,90,\n86,Atlético Madrid,2014,2023
3,Kevin De Bruyne,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,"5'11""",154lbs,...,76,86,93,88,64,78,\n163,Manchester City,2015,2023
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,Neymar Jr,28,91,91,190871,"5'9""",150lbs,...,91,85,86,94,36,59,\n273,Germain,2017,2022

In [30]:
Fifa_df["Height"].head(15)

0      5'7"
1      6'2"
2      6'2"
3     5'11"
4      5'9"
5      6'0"
6     5'10"
7      6'3"
8      5'9"
9      5'9"
10     6'4"
11     6'2"
12     6'1"
13     6'6"
14     6'4"
Name: Height, dtype: object

In [31]:
#extract digits from height
pattern = r'(\d+)\'(\d+)\"'

In [32]:
Fifa_df[["Feet","Inches"]] = Fifa_df["Height"].str.extract(pattern)
Fifa_df[["Feet","Inches"]]
Fifa_df["Feet"].str.strip()
Fifa_df["Inches"].str.strip()

0         7
1         2
2         2
3        11
4         9
         ..
18974    10
18975     7
18976    10
18977     9
18978     9
Name: Inches, Length: 18852, dtype: object

In [33]:
Fifa_df[["Feet","Inches"]]

      Feet Inches
0        5      7
1        6      2
2        6      2
3        5     11
4        5      9
...    ...    ...
18974    5     10
18975    5      7
18976    5     10
18977    5      9
18978    5      9

[18852 rows x 2 columns]

In [34]:
Fifa_df.drop(columns = ["Height"], inplace = True)

In [35]:
# convert into int 
Fifa_df['Feet'] = pd.to_numeric(Fifa_df['Feet'], errors='coerce').fillna(0).astype(int)
Fifa_df['Inches'] = pd.to_numeric(Fifa_df['Inches'], errors='coerce').fillna(0).astype(int)

In [36]:
Fifa_df[["Feet","Inches"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Feet    18852 non-null  int32
 1   Inches  18852 non-null  int32
dtypes: int32(2)
memory usage: 294.6 KB

In [37]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 78 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  object
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Joined                    18852 non-null  object
 14  Loan Date End             1003 non-null   object
 15  Value                     18852 non-null  object
 16  Wage                      18852 non-null  object
 17  Release Clause            18852 non-null  object
 18  Attacking                 18852 non-null  int64
 19  Crossing                  18852 non-null  int64
 20  Finishing                 18852 non-null  int64
 21  Heading Accuracy          18852 non-null  int64
 22  Short Passing             18852 non-null  int64
 23  Volleys                   18852 non-null  int64
 24  Skill                     18852 non-null  int64
 25  Dribbling                 18852 non-null  int64
 26  Curve                     18852 non-null  int64
 27  FK Accuracy               18852 non-null  int64
 28  Long Passing              18852 non-null  int64
 29  Ball Control              18852 non-null  int64
 30  Movement                  18852 non-null  int64
 31  Acceleration              18852 non-null  int64
 32  Sprint Speed              18852 non-null  int64
 33  Agility                   18852 non-null  int64
 34  Reactions                 18852 non-null  int64
 35  Balance                   18852 non-null  int64
 36  Power                     18852 non-null  int64
 37  Shot Power                18852 non-null  int64
 38  Jumping                   18852 non-null  int64
 39  Stamina                   18852 non-null  int64
 40  Strength                  18852 non-null  int64
 41  Long Shots                18852 non-null  int64
 42  Mentality                 18852 non-null  int64
 43  Aggression                18852 non-null  int64
 44  Interceptions             18852 non-null  int64
 45  Positioning               18852 non-null  int64
 46  Vision                    18852 non-null  int64
 47  Penalties                 18852 non-null  int64
 48  Composure                 18852 non-null  int64
 49  Defending                 18852 non-null  int64
 50  Marking                   18852 non-null  int64
 51  Standing Tackle           18852 non-null  int64
 52  Sliding Tackle            18852 non-null  int64
 53  Goalkeeping               18852 non-null  int64
 54  GK Diving                 18852 non-null  int64
 55  GK Handling               18852 non-null  int64
 56  GK Kicking                18852 non-null  int64
 57  GK Positioning            18852 non-null  int64
 58  GK Reflexes               18852 non-null  int64
 59  Total Stats               18852 non-null  int64
 60  Base Stats                18852 non-null  int64
 61  Weak Foot                 18852 non-null  object
 62  Skill Moves               18852 non-null  object
 63  Attacking Work Rate       18852 non-null  object
 64  Defensive Work Rate       18852 non-null  object
 65  International Reputation  18852 non-null  object
 66  Pace                      18852 non-null  int64
 67  Shooting                  18852 non-null  int64
 68  Passing                   18852 non-null  int64
 69  Dribbling                 18852 non-null  int64
 70  Defense                   18852 non-null  int64
 71  Physicality               18852 non-null  int64
 72  Hits                      18852 non-null  object
 73  Team                      17433 non-null  object
 74  Start Year                17433 non-null  object
 75  End Year                  17433 non-null  object
 76  Feet                      18852 non-null  int32
 77  Inches                    18852 non-null  int32
dtypes: int32(2), int64(55), object(21)
memory usage: 11.2+ MB

In [38]:
# conversion of height into cm
Fifa_df["Height"] = Fifa_df["Feet"] * 30.48 + Fifa_df["Inches"]
Fifa_df["Height"]

0        159.40
1        184.88
2        184.88
3        163.40
4        161.40
          ...
18974    162.40
18975    159.40
18976    162.40
18977    161.40
18978    161.40
Name: Height, Length: 18852, dtype: float64

In [39]:
# remove extra column after manipulation
Fifa_df.drop(columns = ["Feet"], inplace = True)
Fifa_df.drop(columns = ["Inches"], inplace = True)
Fifa_df.head()

,LongName,Nationality,Positions,Name,Age,Overall Rating,Potential,ID,Weight,foot,...,Shooting,Passing,Dribbling,Defense,Physicality,Hits,Team,Start Year,End Year,Height
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,158023,159lbs,Left,...,92,91,95,38,65,\n372,FC Barcelona,2004,2021,159.40
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,183lbs,Right,...,93,81,89,35,77,\n344,Juventus,2018,2022,184.88
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,200389,192lbs,Right,...,92,78,90,52,90,\n86,Atlético Madrid,2014,2023,184.88
3,Kevin De Bruyne,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,154lbs,Right,...,86,93,88,64,78,\n163,Manchester City,2015,2023,163.40
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,Neymar Jr,28,91,91,190871,150lbs,Right,...,85,86,94,36,59,\n273,Germain,2017,2022,161.40

In [40]:
Fifa_df["Weight"]

0        159lbs
1        183lbs
2        192lbs
3        154lbs
4        150lbs
          ...
18974    154lbs
18975    128lbs
18976    146lbs
18977    143lbs
18978    150lbs
Name: Weight, Length: 18852, dtype: object

In [41]:
#convert string into int
Fifa_df["Weight"] = Fifa_df["Weight"].str.extract('(\d+)').astype(int)

In [42]:
Fifa_df["Weight"].info()

<class 'pandas.core.series.Series'>
Int64Index: 18852 entries, 0 to 18978
Series name: Weight
Non-Null Count  Dtype
--------------  -----
18852 non-null  int32
dtypes: int32(1)
memory usage: 220.9 KB

In [43]:
# convert lbs to kg
Fifa_df["Weight"] = Fifa_df["Weight"]*0.453592 
Fifa_df["Weight"]

0        72.121128
1        83.007336
2        87.089664
3        69.853168
4        68.038800
           ...
18974    69.853168
18975    58.059776
18976    66.224432
18977    64.863656
18978    68.038800
Name: Weight, Length: 18852, dtype: float64

In [44]:
Fifa_df["Best Overall"].isna().unique()

array([False])

In [45]:
Fifa_df["Best Position"].head()

0     RW
1     ST
2     GK
3    CAM
4     LW
Name: Best Position, dtype: object

In [46]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  float64
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Joined                    18852 non-null  object
 14  Loan Date End             1003 non-null   object
 15  Value                     18852 non-null  object
 16  Wage                      18852 non-null  object
 17  Release Clause            18852 non-null  object
 18  Attacking                 18852 non-null  int64
 19  Crossing                  18852 non-null  int64
 20  Finishing                 18852 non-null  int64
 21  Heading Accuracy          18852 non-null  int64
 22  Short Passing             18852 non-null  int64
 23  Volleys                   18852 non-null  int64
 24  Skill                     18852 non-null  int64
 25  Dribbling                 18852 non-null  int64
 26  Curve                     18852 non-null  int64
 27  FK Accuracy               18852 non-null  int64
 28  Long Passing              18852 non-null  int64
 29  Ball Control              18852 non-null  int64
 30  Movement                  18852 non-null  int64
 31  Acceleration              18852 non-null  int64
 32  Sprint Speed              18852 non-null  int64
 33  Agility                   18852 non-null  int64
 34  Reactions                 18852 non-null  int64
 35  Balance                   18852 non-null  int64
 36  Power                     18852 non-null  int64
 37  Shot Power                18852 non-null  int64
 38  Jumping                   18852 non-null  int64
 39  Stamina                   18852 non-null  int64
 40  Strength                  18852 non-null  int64
 41  Long Shots                18852 non-null  int64
 42  Mentality                 18852 non-null  int64
 43  Aggression                18852 non-null  int64
 44  Interceptions             18852 non-null  int64
 45  Positioning               18852 non-null  int64
 46  Vision                    18852 non-null  int64
 47  Penalties                 18852 non-null  int64
 48  Composure                 18852 non-null  int64
 49  Defending                 18852 non-null  int64
 50  Marking                   18852 non-null  int64
 51  Standing Tackle           18852 non-null  int64
 52  Sliding Tackle            18852 non-null  int64
 53  Goalkeeping               18852 non-null  int64
 54  GK Diving                 18852 non-null  int64
 55  GK Handling               18852 non-null  int64
 56  GK Kicking                18852 non-null  int64
 57  GK Positioning            18852 non-null  int64
 58  GK Reflexes               18852 non-null  int64
 59  Total Stats               18852 non-null  int64
 60  Base Stats                18852 non-null  int64
 61  Weak Foot                 18852 non-null  object
 62  Skill Moves               18852 non-null  object
 63  Attacking Work Rate       18852 non-null  object
 64  Defensive Work Rate       18852 non-null  object
 65  International Reputation  18852 non-null  object
 66  Pace                      18852 non-null  int64
 67  Shooting                  18852 non-null  int64
 68  Passing                   18852 non-null  int64
 69  Dribbling                 18852 non-null  int64
 70  Defense                   18852 non-null  int64
 71  Physicality               18852 non-null  int64
 72  Hits                      18852 non-null  object
 73  Team                      17433 non-null  object
 74  Start Year                17433 non-null  object
 75  End Year                  17433 non-null  object
 76  Height                    18852 non-null  float64
dtypes: float64(2), int64(55), object(20)
memory usage: 11.2+ MB

In [47]:
Fifa_df["Growth"].describe()

count    18852.000000
mean         5.411468
std          5.662399
min          0.000000
25%          0.000000
50%          4.000000
75%          9.000000
max         26.000000
Name: Growth, dtype: float64

In [48]:
Fifa_df['Joined']

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974     Aug 1, 2020
18975     Aug 1, 2020
18976    Jul 13, 2018
18977     Aug 1, 2020
18978     Jan 1, 2020
Name: Joined, Length: 18852, dtype: object

In [49]:
Fifa_df["Date"] = pd.to_datetime(Fifa_df["Joined"], format='%b %d, %Y')

In [50]:
Fifa_df.drop(columns = ["Joined"],inplace = True)

In [51]:
Fifa_df["Loan Date End"].unique()

array([nan, 'Jun 30, 2021', 'Dec 31, 2020', 'Jan 30, 2021',
       'Jun 30, 2022', 'May 31, 2021', 'Jul 5, 2021', 'Dec 31, 2021',
       'Jul 1, 2021', 'Jan 1, 2021', 'Aug 31, 2021', 'Jan 31, 2021',
       'Dec 30, 2021', 'Jun 23, 2021', 'Jan 3, 2021', 'Nov 27, 2021',
       'Jan 17, 2021', 'Jun 30, 2023', 'Jul 31, 2021', 'Nov 22, 2020',
       'May 31, 2022', 'Dec 30, 2020', 'Jan 4, 2021', 'Nov 30, 2020',
       'Aug 1, 2021'], dtype=object)

In [52]:
Fifa_df[["Value", "Wage"]]

        Value   Wage
0      €67.5M  €560K
1        €46M  €220K
2        €75M  €125K
3        €87M  €370K
4        €90M  €270K
...       ...    ...
18974    €35K    €1K
18975    €60K   €500
18976    €40K    €1K
18977    €60K   €500
18978    €60K   €500

[18852 rows x 2 columns]

In [53]:
# Creating function to convert string to numeric
def convert_to_numeric(value_str):
    #Remove currency symbol
    value_str = value_str.replace('€', '').replace(',', '')
    if 'K' in value_str:
        return float(value_str.replace('K', '')) * 1000
    elif 'M' in value_str:
        return float(value_str.replace('M', '')) * 1000000
    else:
        return float(value_str)
# Apply the conversion function to the "Wage" and "Value" columns
Fifa_df["Wage"] = Fifa_df["Wage"].apply(convert_to_numeric)
Fifa_df["Value"] = Fifa_df["Value"].apply(convert_to_numeric)
Fifa_df[["Value", "Wage"]]

            Value      Wage
0      67500000.0  560000.0
1      46000000.0  220000.0
2      75000000.0  125000.0
3      87000000.0  370000.0
4      90000000.0  270000.0
...           ...       ...
18974     35000.0    1000.0
18975     60000.0     500.0
18976     40000.0    1000.0
18977     60000.0     500.0
18978     60000.0     500.0

[18852 rows x 2 columns]

In [54]:
Fifa_df["Release Clause"]

0        €138.4M
1         €75.9M
2        €159.4M
3          €161M
4        €166.5M
          ...
18974       €57K
18975      €165K
18976       €70K
18977      €165K
18978      €167K
Name: Release Clause, Length: 18852, dtype: object

In [55]:
#apply convert_to_numeric function
Fifa_df["Release Clause"] = Fifa_df["Release Clause"].apply(convert_to_numeric)
Fifa_df["Release Clause"]

0        138400000.0
1         75900000.0
2        159400000.0
3        161000000.0
4        166500000.0
            ...
18974        57000.0
18975       165000.0
18976        70000.0
18977       165000.0
18978       167000.0
Name: Release Clause, Length: 18852, dtype: float64

In [56]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  float64
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Loan Date End             1003 non-null   object
 14  Value                     18852 non-null  float64
 15  Wage                      18852 non-null  float64
 16  Release Clause            18852 non-null  float64
 17  Attacking                 18852 non-null  int64
 18  Crossing                  18852 non-null  int64
 19  Finishing                 18852 non-null  int64
 20  Heading Accuracy          18852 non-null  int64
 21  Short Passing             18852 non-null  int64
 22  Volleys                   18852 non-null  int64
 23  Skill                     18852 non-null  int64
 24  Dribbling                 18852 non-null  int64
 25  Curve                     18852 non-null  int64
 26  FK Accuracy               18852 non-null  int64
 27  Long Passing              18852 non-null  int64
 28  Ball Control              18852 non-null  int64
 29  Movement                  18852 non-null  int64
 30  Acceleration              18852 non-null  int64
 31  Sprint Speed              18852 non-null  int64
 32  Agility                   18852 non-null  int64
 33  Reactions                 18852 non-null  int64
 34  Balance                   18852 non-null  int64
 35  Power                     18852 non-null  int64
 36  Shot Power                18852 non-null  int64
 37  Jumping                   18852 non-null  int64
 38  Stamina                   18852 non-null  int64
 39  Strength                  18852 non-null  int64
 40  Long Shots                18852 non-null  int64
 41  Mentality                 18852 non-null  int64
 42  Aggression                18852 non-null  int64
 43  Interceptions             18852 non-null  int64
 44  Positioning               18852 non-null  int64
 45  Vision                    18852 non-null  int64
 46  Penalties                 18852 non-null  int64
 47  Composure                 18852 non-null  int64
 48  Defending                 18852 non-null  int64
 49  Marking                   18852 non-null  int64
 50  Standing Tackle           18852 non-null  int64
 51  Sliding Tackle            18852 non-null  int64
 52  Goalkeeping               18852 non-null  int64
 53  GK Diving                 18852 non-null  int64
 54  GK Handling               18852 non-null  int64
 55  GK Kicking                18852 non-null  int64
 56  GK Positioning            18852 non-null  int64
 57  GK Reflexes               18852 non-null  int64
 58  Total Stats               18852 non-null  int64
 59  Base Stats                18852 non-null  int64
 60  Weak Foot                 18852 non-null  object
 61  Skill Moves               18852 non-null  object
 62  Attacking Work Rate       18852 non-null  object
 63  Defensive Work Rate       18852 non-null  object
 64  International Reputation  18852 non-null  object
 65  Pace                      18852 non-null  int64
 66  Shooting                  18852 non-null  int64
 67  Passing                   18852 non-null  int64
 68  Dribbling                 18852 non-null  int64
 69  Defense                   18852 non-null  int64
 70  Physicality               18852 non-null  int64
 71  Hits                      18852 non-null  object
 72  Team                      17433 non-null  object
 73  Start Year                17433 non-null  object
 74  End Year                  17433 non-null  object
 75  Height                    18852 non-null  float64
 76  Date                      18852 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(55), object(16)
memory usage: 11.2+ MB

In [57]:
Fifa_df["Team"]

0                               FC Barcelona
1                                   Juventus
2                            Atlético Madrid
3                            Manchester City
4                                    Germain
                        ...
18974    Chongqing Dangdai Lifan FC SWM Team
18975                        Oldham Athletic
18976                             Wuhan Zall
18977                        Oldham Athletic
18978                           Club Bolívar
Name: Team, Length: 18852, dtype: object

In [58]:
Fifa_df["Weak Foot"].unique()

array(['4 ★', '3 ★', '5 ★', '2 ★', '1 ★'], dtype=object)

In [59]:
Fifa_df["Skill Moves"].unique()

array(['4★', '5★', '1★', '2★', '3★'], dtype=object)

In [60]:
Fifa_df["Attacking Work Rate"].unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [61]:
Fifa_df["Defensive Work Rate"].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [62]:
Fifa_df["International Reputation"].unique()

array(['5 ★', '3 ★', '4 ★', '2 ★', '1 ★'], dtype=object)

In [63]:
#convert string to numeric by extract method using regural expression
Fifa_df["Hits"]= Fifa_df["Hits"].str.extract('(\d+)').astype(int)
Fifa_df["Hits"]

0        372
1        344
2         86
3        163
4        273
        ...
18974      2
18975      3
18976      3
18977      5
18978      2
Name: Hits, Length: 18852, dtype: int32

In [64]:
Fifa_df['Hits'].describe()

count    18852.000000
mean        15.605347
std         48.501187
min          1.000000
25%          2.000000
50%          3.000000
75%         10.000000
max        984.000000
Name: Hits, dtype: float64

In [65]:
columns_to_fill = ["Hits", "Team", "Start Year", "End Year"]
Fifa_df[columns_to_fill] = Fifa_df[columns_to_fill].fillna("N/A")

In [66]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  float64
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Loan Date End             1003 non-null   object
 14  Value                     18852 non-null  float64
 15  Wage                      18852 non-null  float64
 16  Release Clause            18852 non-null  float64
 17  Attacking                 18852 non-null  int64
 18  Crossing                  18852 non-null  int64
 19  Finishing                 18852 non-null  int64
 20  Heading Accuracy          18852 non-null  int64
 21  Short Passing             18852 non-null  int64
 22  Volleys                   18852 non-null  int64
 23  Skill                     18852 non-null  int64
 24  Dribbling                 18852 non-null  int64
 25  Curve                     18852 non-null  int64
 26  FK Accuracy               18852 non-null  int64
 27  Long Passing              18852 non-null  int64
 28  Ball Control              18852 non-null  int64
 29  Movement                  18852 non-null  int64
 30  Acceleration              18852 non-null  int64
 31  Sprint Speed              18852 non-null  int64
 32  Agility                   18852 non-null  int64
 33  Reactions                 18852 non-null  int64
 34  Balance                   18852 non-null  int64
 35  Power                     18852 non-null  int64
 36  Shot Power                18852 non-null  int64
 37  Jumping                   18852 non-null  int64
 38  Stamina                   18852 non-null  int64
 39  Strength                  18852 non-null  int64
 40  Long Shots                18852 non-null  int64
 41  Mentality                 18852 non-null  int64
 42  Aggression                18852 non-null  int64
 43  Interceptions             18852 non-null  int64
 44  Positioning               18852 non-null  int64
 45  Vision                    18852 non-null  int64
 46  Penalties                 18852 non-null  int64
 47  Composure                 18852 non-null  int64
 48  Defending                 18852 non-null  int64
 49  Marking                   18852 non-null  int64
 50  Standing Tackle           18852 non-null  int64
 51  Sliding Tackle            18852 non-null  int64
 52  Goalkeeping               18852 non-null  int64
 53  GK Diving                 18852 non-null  int64
 54  GK Handling               18852 non-null  int64
 55  GK Kicking                18852 non-null  int64
 56  GK Positioning            18852 non-null  int64
 57  GK Reflexes               18852 non-null  int64
 58  Total Stats               18852 non-null  int64
 59  Base Stats                18852 non-null  int64
 60  Weak Foot                 18852 non-null  object
 61  Skill Moves               18852 non-null  object
 62  Attacking Work Rate       18852 non-null  object
 63  Defensive Work Rate       18852 non-null  object
 64  International Reputation  18852 non-null  object
 65  Pace                      18852 non-null  int64
 66  Shooting                  18852 non-null  int64
 67  Passing                   18852 non-null  int64
 68  Dribbling                 18852 non-null  int64
 69  Defense                   18852 non-null  int64
 70  Physicality               18852 non-null  int64
 71  Hits                      18852 non-null  int32
 72  Team                      18852 non-null  object
 73  Start Year                18852 non-null  object
 74  End Year                  18852 non-null  object
 75  Height                    18852 non-null  float64
 76  Date                      18852 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int32(1), int64(55), object(15)
memory usage: 11.1+ MB

In [67]:
Fifa_df["Date"]

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2020-08-01
18975   2020-08-01
18976   2018-07-13
18977   2020-08-01
18978   2020-01-01
Name: Date, Length: 18852, dtype: datetime64[ns]

In [68]:
Fifa_df["Year"] = Fifa_df["Date"].dt.year
Fifa_df["Month"] = Fifa_df["Date"].dt.month
Fifa_df["Day"] = Fifa_df["Date"].dt.day

In [69]:
Fifa_df[['Year','Month','Day', 'Date']]

       Year  Month  Day       Date
0      2004      7    1 2004-07-01
1      2018      7   10 2018-07-10
2      2014      7   16 2014-07-16
3      2015      8   30 2015-08-30
4      2017      8    3 2017-08-03
...     ...    ...  ...        ...
18974  2020      8    1 2020-08-01
18975  2020      8    1 2020-08-01
18976  2018      7   13 2018-07-13
18977  2020      8    1 2020-08-01
18978  2020      1    1 2020-01-01

[18852 rows x 4 columns]

In [70]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 80 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  float64
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Loan Date End             1003 non-null   object
 14  Value                     18852 non-null  float64
 15  Wage                      18852 non-null  float64
 16  Release Clause            18852 non-null  float64
 17  Attacking                 18852 non-null  int64
 18  Crossing                  18852 non-null  int64
 19  Finishing                 18852 non-null  int64
 20  Heading Accuracy          18852 non-null  int64
 21  Short Passing             18852 non-null  int64
 22  Volleys                   18852 non-null  int64
 23  Skill                     18852 non-null  int64
 24  Dribbling                 18852 non-null  int64
 25  Curve                     18852 non-null  int64
 26  FK Accuracy               18852 non-null  int64
 27  Long Passing              18852 non-null  int64
 28  Ball Control              18852 non-null  int64
 29  Movement                  18852 non-null  int64
 30  Acceleration              18852 non-null  int64
 31  Sprint Speed              18852 non-null  int64
 32  Agility                   18852 non-null  int64
 33  Reactions                 18852 non-null  int64
 34  Balance                   18852 non-null  int64
 35  Power                     18852 non-null  int64
 36  Shot Power                18852 non-null  int64
 37  Jumping                   18852 non-null  int64
 38  Stamina                   18852 non-null  int64
 39  Strength                  18852 non-null  int64
 40  Long Shots                18852 non-null  int64
 41  Mentality                 18852 non-null  int64
 42  Aggression                18852 non-null  int64
 43  Interceptions             18852 non-null  int64
 44  Positioning               18852 non-null  int64
 45  Vision                    18852 non-null  int64
 46  Penalties                 18852 non-null  int64
 47  Composure                 18852 non-null  int64
 48  Defending                 18852 non-null  int64
 49  Marking                   18852 non-null  int64
 50  Standing Tackle           18852 non-null  int64
 51  Sliding Tackle            18852 non-null  int64
 52  Goalkeeping               18852 non-null  int64
 53  GK Diving                 18852 non-null  int64
 54  GK Handling               18852 non-null  int64
 55  GK Kicking                18852 non-null  int64
 56  GK Positioning            18852 non-null  int64
 57  GK Reflexes               18852 non-null  int64
 58  Total Stats               18852 non-null  int64
 59  Base Stats                18852 non-null  int64
 60  Weak Foot                 18852 non-null  object
 61  Skill Moves               18852 non-null  object
 62  Attacking Work Rate       18852 non-null  object
 63  Defensive Work Rate       18852 non-null  object
 64  International Reputation  18852 non-null  object
 65  Pace                      18852 non-null  int64
 66  Shooting                  18852 non-null  int64
 67  Passing                   18852 non-null  int64
 68  Dribbling                 18852 non-null  int64
 69  Defense                   18852 non-null  int64
 70  Physicality               18852 non-null  int64
 71  Hits                      18852 non-null  int32
 72  Team                      18852 non-null  object
 73  Start Year                18852 non-null  object
 74  End Year                  18852 non-null  object
 75  Height                    18852 non-null  float64
 76  Date                      18852 non-null  datetime64[ns]
 77  Year                      18852 non-null  int64
 78  Month                     18852 non-null  int64
 79  Day                       18852 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(58), object(15)
memory usage: 11.6+ MB

In [71]:
Fifa_df.drop(columns = ["Loan Date End"], inplace = True)

In [72]:
Fifa_df.head()

,LongName,Nationality,Positions,Name,Age,Overall Rating,Potential,ID,Weight,foot,...,Physicality,Hits,Team,Start Year,End Year,Height,Date,Year,Month,Day
0,Lionel Messi,Argentina,RW ST CF,L. Messi,33,93,93,158023,72.121128,Left,...,65,372,FC Barcelona,2004,2021,159.40,2004-07-01,2004,7,1
1,C. Ronaldo dos Santos Aveiro,Portugal,ST LW,Cristiano Ronaldo,35,92,92,20801,83.007336,Right,...,77,344,Juventus,2018,2022,184.88,2018-07-10,2018,7,10
2,Jan Oblak,Slovenia,GK,J. Oblak,27,91,93,200389,87.089664,Right,...,90,86,Atlético Madrid,2014,2023,184.88,2014-07-16,2014,7,16
3,Kevin De Bruyne,Belgium,CAM CM,K. De Bruyne,29,91,91,192985,69.853168,Right,...,78,163,Manchester City,2015,2023,163.40,2015-08-30,2015,8,30
4,Neymar da Silva Santos Jr.,Brazil,LW CAM,Neymar Jr,28,91,91,190871,68.038800,Right,...,59,273,Germain,2017,2022,161.40,2017-08-03,2017,8,3

In [73]:
encoded

       CM  ST  RB  GK  CB  RWB  LB  RM  LM  LW  CDM  CAM  LWB  CF  RW
0       0   1   0   0   0    0   0   0   0   0    0    0    0   1   1
1       0   1   0   0   0    0   0   0   0   1    0    0    0   0   0
2       0   0   0   1   0    0   0   0   0   0    0    0    0   0   0
3       1   0   0   0   0    0   0   0   0   0    0    1    0   0   0
4       0   0   0   0   0    0   0   0   0   1    0    1    0   0   0
...    ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ...  ...  ...  ..  ..
18974   0   0   0   0   1    0   0   0   0   0    0    0    0   0   0
18975   0   1   0   0   0    0   0   0   0   0    0    0    0   0   0
18976   0   0   0   0   1    0   0   0   0   0    0    0    0   0   0
18977   1   0   0   0   0    0   0   0   0   0    0    0    0   0   0
18978   0   0   0   0   0    0   0   0   0   0    1    0    0   0   0

[18852 rows x 15 columns]

In [74]:
Fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 79 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LongName                  18852 non-null  object
 1   Nationality               18852 non-null  object
 2   Positions                 18852 non-null  object
 3   Name                      18852 non-null  object
 4   Age                       18852 non-null  int64
 5   Overall Rating            18852 non-null  int64
 6   Potential                 18852 non-null  int64
 7   ID                        18852 non-null  int64
 8   Weight                    18852 non-null  float64
 9   foot                      18852 non-null  object
 10  Best Overall              18852 non-null  int64
 11  Best Position             18852 non-null  object
 12  Growth                    18852 non-null  int64
 13  Value                     18852 non-null  float64
 14  Wage                      18852 non-null  float64
 15  Release Clause            18852 non-null  float64
 16  Attacking                 18852 non-null  int64
 17  Crossing                  18852 non-null  int64
 18  Finishing                 18852 non-null  int64
 19  Heading Accuracy          18852 non-null  int64
 20  Short Passing             18852 non-null  int64
 21  Volleys                   18852 non-null  int64
 22  Skill                     18852 non-null  int64
 23  Dribbling                 18852 non-null  int64
 24  Curve                     18852 non-null  int64
 25  FK Accuracy               18852 non-null  int64
 26  Long Passing              18852 non-null  int64
 27  Ball Control              18852 non-null  int64
 28  Movement                  18852 non-null  int64
 29  Acceleration              18852 non-null  int64
 30  Sprint Speed              18852 non-null  int64
 31  Agility                   18852 non-null  int64
 32  Reactions                 18852 non-null  int64
 33  Balance                   18852 non-null  int64
 34  Power                     18852 non-null  int64
 35  Shot Power                18852 non-null  int64
 36  Jumping                   18852 non-null  int64
 37  Stamina                   18852 non-null  int64
 38  Strength                  18852 non-null  int64
 39  Long Shots                18852 non-null  int64
 40  Mentality                 18852 non-null  int64
 41  Aggression                18852 non-null  int64
 42  Interceptions             18852 non-null  int64
 43  Positioning               18852 non-null  int64
 44  Vision                    18852 non-null  int64
 45  Penalties                 18852 non-null  int64
 46  Composure                 18852 non-null  int64
 47  Defending                 18852 non-null  int64
 48  Marking                   18852 non-null  int64
 49  Standing Tackle           18852 non-null  int64
 50  Sliding Tackle            18852 non-null  int64
 51  Goalkeeping               18852 non-null  int64
 52  GK Diving                 18852 non-null  int64
 53  GK Handling               18852 non-null  int64
 54  GK Kicking                18852 non-null  int64
 55  GK Positioning            18852 non-null  int64
 56  GK Reflexes               18852 non-null  int64
 57  Total Stats               18852 non-null  int64
 58  Base Stats                18852 non-null  int64
 59  Weak Foot                 18852 non-null  object
 60  Skill Moves               18852 non-null  object
 61  Attacking Work Rate       18852 non-null  object
 62  Defensive Work Rate       18852 non-null  object
 63  International Reputation  18852 non-null  object
 64  Pace                      18852 non-null  int64
 65  Shooting                  18852 non-null  int64
 66  Passing                   18852 non-null  int64
 67  Dribbling                 18852 non-null  int64
 68  Defense                   18852 non-null  int64
 69  Physicality               18852 non-null  int64
 70  Hits                      18852 non-null  int32
 71  Team                      18852 non-null  object
 72  Start Year                18852 non-null  object
 73  End Year                  18852 non-null  object
 74  Height                    18852 non-null  float64
 75  Date                      18852 non-null  datetime64[ns]
 76  Year                      18852 non-null  int64
 77  Month                     18852 non-null  int64
 78  Day                       18852 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(58), object(14)
memory usage: 11.4+ MB

In [75]:
encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18852 entries, 0 to 18978
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CM      18852 non-null  int32
 1   ST      18852 non-null  int32
 2   RB      18852 non-null  int32
 3   GK      18852 non-null  int32
 4   CB      18852 non-null  int32
 5   RWB     18852 non-null  int32
 6   LB      18852 non-null  int32
 7   RM      18852 non-null  int32
 8   LM      18852 non-null  int32
 9   LW      18852 non-null  int32
 10  CDM     18852 non-null  int32
 11  CAM     18852 non-null  int32
 12  LWB     18852 non-null  int32
 13  CF      18852 non-null  int32
 14  RW      18852 non-null  int32
dtypes: int32(15)
memory usage: 1.2 MB

# Store into excel

In [76]:
excel_file = "combined_data.xlsx"
# Create an ExcelWriter object
with pd.ExcelWriter(excel_file, engine='xlsxwriter') as writer:
    # Save each DataFrame to a separate sheet
    Fifa_df.to_excel(writer, sheet_name="Sheet1", index=False)
    encoded.to_excel(writer, sheet_name="Sheet2", index=False)

In this project, we will walk through the process of cleaning and transforming a FIFA dataset. The objective is to prepare the data for analysis by removing inconsistencies and converting it into a more usable format. The following key tasks were undertaken:

## Task 1: Removing URLs

We started by removing URLs from the dataset, ensuring that hyperlinks or website references do not interfere with the analysis.

## Task 2: Removing Duplicates

Duplicate records were identified and removed to maintain data integrity and avoid redundancy.

## Task 3: Converting Positions into One-Hot Encoding

The "Positions" column was converted into one-hot encoding to facilitate further analysis by representing player positions as binary values.

## Task 4: Separating "Team & Contract" into Multiple Columns

We split the "Team & Contract" column into three distinct columns: "Team," "Contract Start Year," and "Contract End Year" for better data organization.

## Task 5: Converting Data Types of Height and Weight

The data types of the "Height" and "Weight" columns were converted, and heights were transformed from feet (ft) to centimeters (cm), while weights were converted from pounds (lbs) to kilograms (kg).

## Task 6: Converting Date Strings into Datetime Format

We converted date strings into the datetime data type, making it easier to work with time-related information. Additionally, we extracted and stored the month, year, and day in separate columns for more detailed analysis.

## Task 7: Converting String into Numeric Money Values

Monetary values within the dataset were converted from strings into numeric formats to enable financial calculations.

## Task 8: Checking for Missing Values

We performed a comprehensive check for missing values within the dataset and filled them as needed to ensure data completeness.

## Saving the Cleaned Data

The cleaned dataset was saved to an Excel workbook with two separate sheets. The first sheet contains the cleaned data, and the second sheet contains the one-hot encoded player positions.

This data preparation is a crucial step that paves the way for subsequent data analysis and modeling, allowing us to draw meaningful insights and make informed decisions.

Stay tuned for further analysis and exploration of the FIFA dataset!

# Conclusion

In this project, we embarked on a comprehensive data cleaning and transformation journey with the FIFA dataset. Our primary objective was to prepare the data for analysis by addressing inconsistencies, refining data types, and enhancing its usability. We can now conclude our data preparation journey with several key takeaways:

## Data Quality Improvement

- The removal of URLs and duplicate records ensured data integrity and consistency, creating a clean foundation for analysis.

- Converting positions into one-hot encoding offered a structured representation of player positions, simplifying the analysis.

- Separating the "Team & Contract" column into multiple columns improved data organization and usability.

- The conversion of height and weight data, along with the conversion of financial values, allowed for standardized and accurate measurements.

- Transforming date strings into datetime data types enabled in-depth time-related analysis.

## Data Completeness

- A comprehensive check for missing values was conducted, and necessary values were filled, ensuring that our dataset is complete and ready for further analysis.

## Enhanced Usability

- The data transformation steps have significantly improved the usability and interpretability of the dataset, making it more convenient for analysts and researchers.

In conclusion, data cleaning and transformation are foundational steps in any data analysis project. By addressing inconsistencies, refining data types, and enhancing data quality, we have set the stage for more meaningful and insightful analyses. The clean and structured dataset is now well-equipped for advanced analytics, visualizations, and modeling.

This project has not only improved the quality of our data but has also provided a strong foundation for any subsequent tasks, including exploratory data analysis, predictive modeling, and reporting. We look forward to leveraging this clean dataset to extract valuable insights and make informed decisions in the world of FIFA data analysis.